[flake8]
max-line-length = 79
extend-ignore =
    E203,
    W503,
    W504,
    E501 
exclude =
    .git,
    __pycache__,
    */migrations/*,
    venv,
    .venv,
    config/asgi.py,
    config/wsgi.py
max-complexity = 10
select = E,F,W,C90
per-file-ignores = django-rest-api/config/settings.py:E501